<!-- views/createexhibit.ejs -->
<!doctype html>
<html>
<head>
    <title>Create Exhibit</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/res/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/res/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/res/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/res/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/res/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/res/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/res/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/res/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/res/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/res/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/res/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/favicon-16x16.png">
    <link rel="manifest" href="/res/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/res/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <style>
        /* This is our style for the invalid fields */
        input:invalid{
          border-color: #900;
          background-color: #FDD;
        }
        
        input:focus:invalid {
          outline: none;
        }
        
        /* This is the style of our error messages */
        .error {
          width  : 100%;
          padding: 0;
         
          font-size: 80%;
          color: white;
          background-color: #900;
          border-radius: 0 0 5px 5px;
         
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        
        .error.active {
          padding: 0.3em;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand" href="/home">
            <img src="/res/favicon-96x96.png" width="50" height="50" class="d-inline-block align-middle" alt="">
            Tour Anywhere
        </a>
    </ul>
        <button class="btn btn-outline-primary">
            <a href="/logout" class="btn btn-default btn-sm"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </button>
    </div>
</nav>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/edit/<%= id %>"><%= tour.name %></a></li>
            <li class="breadcrumb-item active" aria-current="page">New Exhibit</li>
        </ol>
    </nav>
    <div class="page-header text-center">
        <h1 class="display-4">Create Exhibit</h1>
    </div>
    <form action='/create/exhibit' method='POST' id="form" novalidate>
        <div class="form-group">
            <label for="exhibitName">Exhibit Name</label>
            <input type="text" class="form-control" id="exhibitName" aria-describedby="nameHelp" placeholder="Enter a Catchy Name" name="name" required>
            <small id="nameHelp" class="form-text text-muted">This is the name of your exhibit that users will see.</small>
            <span id="nameError" class="error" aria-live="polite"></span>
        </div>
        <div class="form-group">
            <label for="ID">Exhibit ID</label>
            <input type="text" class="form-control" id="ID" aria-describedby="idHelp" placeholder="Enter a numbered ID" name="ID" value="<%= recommended %>" required pattern="<%= regex %>">
            <small id="idHelp" class="form-text text-muted">This is the ID that users will use to find this exhibit.</small>
            <span id="idError" class="error" aria-live="polite"></span>
        </div>
        <label for="chooseType">Exhibit Type</label>
        <div class="form-group" id="chooseType">
             <div class="pretty p-default p-round p-smooth p-plain">
                <input type="checkbox" value="yes" name="text" checked disabled/>
                <div class="state p-success-o">
                    <label> Text</label>
                </div>
            </div>
            <div class="pretty p-default p-round p-smooth p-plain">
                <input type="checkbox" value="yes" name="image"/>
                <div class="state p-success-o">
                    <label> Image</label>
                </div>
            </div>
            <div class="pretty p-default p-round p-smooth p-plain">
                <input type="checkbox" value="yes" name="audio"/>
                <div class="state p-success-o">
                    <label> Audio</label>
                </div>
            </div>
            <small class="form-text text-muted">Features your exhibit will include.</small>
        </div>
        <div class="form-group row">
            <label for="form-check" class="col col-md-4">Allow users to find and view this exhibit?</label>
            <div class="form-check" class="col col-md-auto">
                <div class="pretty p-icon p-toggle p-plain">
                    <input type="checkbox" value="yes" name="visibility">
                        <div class="state p-success-o p-on">
                            <i class="far fa-eye"></i>
                            <label>Showing</label>
                        </div>
                        <div class="state p-off">
                            <i class="far fa-eye-slash"></i>
                            <label>Hidden</label>
                        </div>
                    </input>
                </div>
            </div>
        </div>
        <input type="text" value="<%= id %>" name="tourid" hidden></input>
        <input type="text" value="<%= tour.name %>" name="tourname" hidden></input>
        <input type="text" value="<%= ids %>" name="ids" hidden></input>
        <div style="text-align: center">
            <span>
                <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-success">Create</button>
            </span>
        </div>
    </form>
</div>
<script>
    var idError = document.getElementById('idError');
    var nameError = document.getElementById('nameError');
    
    var exhibitName = document.getElementById("exhibitName");
    
    exhibitName.addEventListener("input", function (event) {
        if (exhibitName.validity.valueMissing) {
            nameError.innerHTML = "This field is required!";
            nameError.className = "error active";
        } else {
            nameError.innerHTML = "";
            nameError.className = "error";
        }
    });
    
    var exhibitID = document.getElementById("ID");
    
    exhibitID.addEventListener("input", function (event) {
        if(exhibitID.validity.patternMismatch) {
            idError.innerHTML = "This ID is invalid or already in use!";
            idError.className = "error active";
        } else if(exhibitID.validity.valueMissing) {
            idError.innerHTML = "This field is required!";
            idError.className = "error active";
        } else {
            idError.innerHTML = "";
            idError.className = "error";
        }
    });
    
    var form  = document.getElementsByTagName('form')[0];
    
    form.addEventListener("submit", function (event) {
        if (exhibitName.validity.valueMissing) {
            nameError.innerHTML = "This field is required!";
            nameError.className = "error active";
            event.preventDefault();
        }
        else if(exhibitID.validity.patternMismatch) {
            idError.innerHTML = "This ID is invalid or already in use!";
            idError.className = "error active";
            event.preventDefault();
        }
        else if(exhibitID.validity.valueMissing) {
            idError.innerHTML = "This field is required!";
            idError.className = "error active";
            event.preventDefault();
        }
    }, false);
</script>
</body>
</html>