<!-- views/edit.ejs -->
<!doctype html>
<html>
<head>
    <title>Edit Tour</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/res/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/res/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/res/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/res/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/res/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/res/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/res/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/res/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/res/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/res/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/res/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/favicon-16x16.png">
    <link rel="manifest" href="/res/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/res/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand" href="/home">
            <img src="/res/favicon-96x96.png" width="50" height="50" class="d-inline-block align-middle" alt="">
            Tour Anywhere
        </a>
    </ul>
    <input class="form-control mr-sm-2" type="search" style="background-image: url('https://www.w3schools.com/css/searchicon.png'); background-position: 10px 8px; background-repeat: no-repeat; padding: 12px 20px 12px 40px;" 
        placeholder="Search" aria-label="Search" onkeyup="search();" id="searchbar">
    <button class="btn btn-outline-primary">
        <a href="/logout" class="btn btn-default btn-sm"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </button>
    </div>
</nav>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= tour.name %></li>
        </ol>
    </nav>
    <div class="page-header text-center">
        <h1 class="display-4"><%= tour.name %> <a href="/tour/settings/<%= tour._id %>" style="color: #333;"><i class="fas fa-cog"></i></a></h1>
    </div>
    
    <div id="buttons" style="padding-bottom:20px">
        <a href="/create/exhibit/<%= tour._id %>" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> New Exhibit</a>
    </div>
    
    <% if(tour.exhibits.length === 0) { %>
        <div class="jumbotron jumbotron-fluid" style="text-align: center">
          <div class="container">
            <h1 class="display-4">No Exhibits</h1>
            <p class="lead">Click "New Exhibit" to get started.</p>
          </div>
        </div>
    <% } %>

    <div class="row">
        <div class="list-group" id="list">
            <p id="length" style="display: none"><%= tour.exhibits.length %></p>
            <% var i = 0; %>
            <% tour.exhibits.forEach(function showitem(exhibit) {%>
                <!-- Modal -->
                <div class="modal fade" id="modal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this exhibit?</h4>
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                
                                </button>
                            </div>
                            <div class="modal-body">This action cannot be undone.</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href='/delete/exhibit/<%= tour._id %>/<%= exhibit.eid %>' class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div2 id="<%= exhibit.eid %>" class="list-group-item list-group-item-action flex-column align-items-end selectable-list-item" tabindex="-1" 
                ondblclick="editExhibit('<%= tour._id %>', '<%= exhibit.eid %>');" onclick="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= exhibit.name %></h5>
                        <div>
                            <small>Exhibit ID: <%= exhibit.eid %></small>
                            <% if(exhibit.viewable) { %>
                            <small><i class="far fa-eye"></i></small>
                            <% } else { %>
                            <small><i class="far fa-eye-slash"></i></small>
                            <% } %>
                        </div>
                    </div>
                    <div class="d-flex bd-highlight">
                        <% if(exhibit.audio != null || exhibit.imageAudio != null) {%>
                            <div class="icon bd-highlight">
                                <small><i class="far fa-file-audio"></i></small>
                            </div>
                        <% } %>
                        <% if(exhibit.image != null || exhibit.imageAudio != null) {%>
                            <div class="icon bd-highlight">
                                <small><i class="far fa-file-image"></i></small>
                            </div>
                        <% } %>
                        <div class="icon bd-highlight">
                            <small><i class="far fa-file-alt"></i></small>
                        </div>
                        <div class="ml-auto bd-highlight">
                            <button type="button" class="btn btn-danger btn-sm" style="padding-top: 0.05rem; padding-right: 0.25rem; padding-bottom: 0.2rem; padding-left: 0.25rem;;" data-toggle="modal" data-target="#modal<%= i %>">
                                <small><i class="fas fa-trash-alt"></i></small>
                            </button>
                        </div>
                    </div>
                    <p>
                        <% if(exhibit.text != null) {%>
                            Text description
                        <% } %>
                        <% if(exhibit.image != null) {%>
                            Image with text description
                        <% } %>
                        <% if(exhibit.audio != null) {%>
                            Audio with text transcript or description
                        <% } %>
                        <% if(exhibit.imageAudio != null) {%>
                            Image, Audio, and text transcript or description
                        <% } %>
                    </p>
                    <small id="last<%= i %>"><%= exhibit.lastEdit %></small>
                </div2>
                <% i++; %>
            <% }); %>
            <% if(tour.exhibits.length != 0) { %>
                <a href="" class="list-group-item list-group-item-action flex-column align-items-end" style="visibility: hidden">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Template List Item</h5>
                        <small>Template ID: #</small>
                    </div>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia eget eros sed gravida. Cras lobortis vel enim dignissim bibendum. Ut sollicitudin ultricies ipsum aliquam tristique. In augue nibh, pulvinar et molestie quis, varius in eros. Phasellus vehicula tempus turpis, a venenatis sem. Morbi luctus scelerisque ex, non viverra magna.</p>
                    <small>Last edited date and time.</small>
                </a>
            <% } %>
        </div>
    </div>
</div>
<script type="text/javascript">
    var len = document.getElementById('length').innerHTML;
    for(var i = 0; i < len; i++){
        var last = document.getElementById('last' + i);
        var d = moment(last.innerHTML).fromNow();
        
        last.innerHTML = "Last edited " + d;
    }
    
    function confirmDelete(url, name) {
        activeDivAttr = '';
        var r = confirm("Are you sure you want to delete the exhibit with ID '" + name + "'?");
        if (r == true) {
            window.location=url;
        } else {
        }
    }
    
    function search() {
        // Declare variables
        var input, filter, list, div2, a, i, txtValue;
        input = document.getElementById('searchbar');
        filter = input.value.toUpperCase();
        list = document.getElementById("list");
        div2 = list.getElementsByTagName('div2');
        
        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < div2.length; i++) {
            a = div2[i].getElementsByTagName("h5")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) 
            {
                div2[i].style.display = "";
            } 
            else 
            {
                div2[i].style.display = "none";
            }
        }
    }
</script>
</body>
</html>
